* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  max-width: 100vw;
  background-color: #272822;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dev {
  display: flex;
  gap: .9rem .8rem;
  width: 80%;
  max-width: 70vw;
  flex-wrap: wrap;
  /* background: #00000015; */
  position: relative;
}

.wrapper {
  min-height: 100px;
  height: 120px;
  overflow: hidden;
  justify-content: center;
  /* align-items: center; */
  display: flex;
  margin-top: 24vh;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}
