.word {
  color: black;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-bottom: 2px solid transparent;
}
.word.hidden {
  display: none;
}

.word.flawless {
  border-bottom: 2px solid gold;
}

.word.perfect {
  border-bottom: 2px solid blue;
}

.word.destroyed {
  border-bottom: 2px gray outset;
  opacity: .3;
}

.word.mine {
  border-bottom: 2px dashed red;
}
.word.icy {
  border-bottom: 2px dashed blue;
}
.word.frozen {
  background-color: powderblue;
}

.letter.incorrect {
  color: red;
}

.letter.correct {
  color: green;
}

.letter.extra {
  color: orange;
}
