.word {
  color: black;
  font-size: 1.5rem;
  line-height: 1.5rem;
  border-bottom: 2px solid transparent;
}
.word.hidden {
  display: none;
}

.word.flawless {
  border-bottom: 2px solid gold;
}

.word.perfect {
  border-bottom: 2px solid blue;
}

.letter.incorrect {
  color: red;
}

.letter.correct {
  color: green;
}

.letter.extra {
  color: orange;
}
